$text-color:#fff;
$link-color: #db4747;
$dark-color: #1b1b1e;
$about-me-bg: #212123;

@mixin font-1 {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
}

@mixin font-2 {
  font-family: Playfair Display, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
}

@mixin modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

@mixin dark-bg {
  background-color: $dark-color;
}

// @mixin about-me-icons {
//     width: 20px;
//     height: 20px;
//     margin: 0 0 0 6px;
// }

// @mixin about-me-bg {
//     width: 40px;
//     height: 40px;
//     border-radius: 50%;
// }

.text-red {
  color: $link-color;
}

.bg-default {
  background-color: #1b1b1e;
}

@mixin lines {
  width: 1px;
  height: 460vh;
  position: absolute;
  top: 0;
  opacity: 0.05;
  border: 1px solid #fff;
  z-index: -1;
}

.line1 {
  @include lines;

  left: 16px;
}

.line2 {
  @include lines;

  left: 160px;
}

.line3 {
  @include lines;

  left: 304px;
}

#dropdown {
  display: none;
  border-radius: 5px;
}

#menu-close {
  display: none;
}

.menu-btn:hover {
  cursor: pointer;
}

#menu-close:hover {
  cursor: pointer;
}

.nav-links {
  color: $link-color;
  text-decoration: none;
  transition: all 1s ease;
  padding: 2px;
}

.nav-links:hover {
  color: $text-color;
  text-decoration: none;
  cursor: pointer;
}

.big-num {
  color: $text-color;

  @include font-1;

  font-weight: 200;
  font-size: 50px;
  line-height: 75px;
  opacity: 0.2;
}

.sub-text {
  color: $text-color;

  @include font-1;

  font-size: 12px;
  line-height: 18px;
}

.name {
  color: $text-color;

  @include font-2;

  font-size: 50px;
  line-height: 100%;
}

.myself {
  color: $text-color;

  @include font-1;

  font-size: 12px;
  line-height: 18px;
  text-align: left;
}

.header-link {
  color: $link-color;
  text-decoration: none;
  transition: all 1s ease;
}

.header-link:hover {
  text-decoration: none;
  color: $text-color;
  cursor: pointer;
}

.bottom-border {
  border: 1px solid #fff;
  width: 70px;
  opacity: 0.8;
  margin-top: 10px;
  background-color: $text-color;
}

.social-icons {
  max-width: 130px;
  margin-top: 10px;
}

.social-btns {
  color: $text-color;
  transition: all 1s ease;
}

.social-btns:hover {
  color: $link-color;
}

.social-media {
  color: $text-color;
  font-size: 25px;
}

.project-title {
  color: $link-color;

  @include font-2;

  font-size: 20px;
  line-height: 18px;
  text-align: center;
  margin-top: 20px;
  max-width: 320px;
}

.languages {
  list-style-type: none;
  color: $text-color;

  @include font-1;

  font-size: 13px;
  line-height: 18px;
  text-align: left;
  background-color: $link-color;
  padding: 5px;
  border-radius: 15px;
  margin-bottom: 10px;
}

.languages:hover {
  background: #db4747;
  box-shadow: 0 2px 15px rgba(219, 71, 71, 0.6);
}

.languages-ul {
  max-width: 250px;
}

.project-img {
  max-height: 175px;
}

.project-btn {
  color: $text-color;
  text-decoration: none;
  text-align: center;
  transition: all 1s ease;
  max-width: 160px;
  margin-top: 10px;
  background: #db4747;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  margin-left: 20%;
}

.project-btn:hover {
  text-decoration: none;
  cursor: pointer;
  background: #db4747;
  box-shadow: 0 2px 15px rgba(219, 71, 71, 0.6);
  border-radius: 4px;
}

.project-btn:active {
  background: #db4747;
  box-shadow: inset 0 0 2px #5c1e1e, inset 0 0 10px #571c1c;
  border-radius: 4px;
}

#modal-1 {
  @include modal;
}

#modal-2 {
  @include modal;
}

#modal-3 {
  @include modal;
}

#modal-4 {
  @include modal;
}

#modal-5 {
  @include modal;
}

#modal-6 {
  @include modal;
}

#bg-1 {
  @include dark-bg;
}

#bg-2 {
  @include dark-bg;
}

#bg-3 {
  @include dark-bg;
}

#bg-4 {
  @include dark-bg;
}

#bg-5 {
  @include dark-bg;
}

#bg-6 {
  @include dark-bg;
}

.modal-content {
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  background-color: black;
}

.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-title {
  color: $link-color;

  @include font-2;

  font-size: 20px;
  font-weight: bold;
  line-height: 18px;
  text-align: center;
  margin-top: 5px;
}

.modal-text {
  color: $text-color;
  margin-top: 10px;
}

.modal-link {
  color: $link-color;
  text-decoration: none;
  transition: all 1s ease;
}

.modal-link:hover {
  text-decoration: none;
  color: $text-color;
}

#about-me-icon-1 {
  // @include about-me-icons;
  text-align: center;
  color: #22b07d;
}

.icon-background-1 {
  // @include about-me-bg;
  background: #22b07c33;
}

#about-me-icon-2 {
  // @include about-me-icons;
  text-align: center;
  color: #376aed;
}

.icon-background-2 {
  // @include about-me-bg;
  background: #376bed33;
}

#about-me-icon-3 {
  // @include about-me-icons;
  text-align: center;
  color: #f19d2a;
}

.icon-background-3 {
  // @include about-me-bg;
  background: #f19e2a33;
}

#about-me-icon-4 {
  // @include about-me-icons;
  text-align: center;
  color: #db4747;
}

.icon-background-4 {
  // @include about-me-bg;
  background: #db474734;
}

.about-me-section {
  background-color: $about-me-bg;
  box-shadow: 0 1.91837px 23.0204px rgba(0, 0, 0, 0.25);
  border-radius: 3.83673px;
  width: 238px;
  margin-bottom: 15px;
}

.about-me-section-titles {
  color: $text-color;

  @include font-1;

  font-size: 20px;
  font-weight: bold;
  line-height: 18px;
  margin: 15px 0 15px 20px;
}

.about-me-li {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.0525em;
  color: #7d7c84;
  margin-left: 1px;
}

.contact-sub-title {
  color: $text-color;
  margin-left: 30px;
}

.contact-ul {
  list-style-type: none;
}

.contact-li {
  color: $text-color;
  margin: 5px 0 5px 0;

  a {
    text-decoration: none;
    color: $link-color;
    transition: all 1s ease;
  }
}

.contact-li a:hover {
  color: $text-color;
}

.contact-email {
  text-decoration: none;
  color: $link-color;
  transition: all 1s ease;
  margin: 5px 0 5px 30px;
}

.contact-email:hover {
  color: $text-color;
}

.footer-line {
  width: 288px;
  height: 0;
  border: 1px solid rgba(255, 255, 255, 0.1);
  transform: rotate(180deg);
  margin-left: 15px;
}

.last-sections-bg {
  background: #212123;
}

.footer-icons {
  width: 100%;
}

.footer-download {
  text-decoration: none;
  color: $text-color;
  transition: all 1s ease;
  background: $link-color;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding: 5px 5px 5px 5px;
  margin-top: 15px;
}

.footer-download:hover {
  background: $link-color;
  box-shadow: 0 2px 15px rgba(219, 71, 71, 0.6);
  border-radius: 4px;
  color: $text-color;
}

.footer-download:active {
  background: $link-color;
  box-shadow: inset 0 0 2px #5c1e1e, inset 0 0 10px #571c1c;
}

.footer-sub-title {
  color: $text-color;
}

.about-me-sections {
  margin-left: 40px;
}

.reference {
  text-decoration: none;
  color: $link-color;
  transition: all 1s ease;
}

.reference:hover {
  color: $text-color;
}
